<div class="d-flex justify-content-center">
    <div class="roombox" *ngFor="let room of rooms | async">
        <div class="picture text-center"><img src="{{room.imgurl}}" height="145"></div>
        <div class="name text-center">{{room.name}}</div>
        <div class="actions text-center">
            <button class="btn btn-primary">Edit</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-right">
        <button class="btn btn-success" (click)="addRoom()"> + </button>
    </div>
</div>